- if current_user.blank?
  = link_to 'Login', auth_github_path
%h2 
  Get Started
%ol
  - if current_user.blank?
    %li= link_to 'Sign Up for an Account', auth_github_path
  - else
    %li Sign up for an Account

  %li 
    Install fork of lolcommits:
    %pre
      gem uninstall lolcommits
      ="curl -O http://#{request.host}:#{request.port}/lolcommits-0.1.5.dotcom.gem"
      gem install lolcommits-0.1.5.dotcom.gem
  %li
    =link_to 'Create a new repo', new_repo_path
    or have a collaborator on your repo give you the repo_external_id for the project they have configured.  This will be a UUID.
  %li 
    Enable lolcommits
    %pre
      cd &lt;repo directory&gt;
      lolcommits --enable

  %li
    Configure lolcommits.com in the gem.
    %pre
      
      lolcommits --configure --plugin dot_com
      enabled: &lt;true&gt;
      ="api_key: <your user's api key> #{current_user.blank? ? '' : "value: [#{current_user.api_key}]"}"
      ="api_secret: <your user's secret api key> #{current_user.blank? ? '' : "value: [#{current_user.api_secret}]"}"

      repo_id: &lt;Repo External ID&gt;
  %li Smile for the camera when you make commits.

