%h2= current_repo.name

- if current_user && current_user.repos.include?(current_repo)
  .warning
    %b keep the external_id safe.  anyone who knows this key can join your repo.
  %br
  .attributes
    %b External Id:
    = current_repo.external_id

.users
  Users:
  = current_repo.users.collect {|u| u.name}.join(',')

.commits
  - @git_commits.each do |gc|
    .image
      - if gc.user
        .name
          %b= link_to gc.user.name, "http://github.com/#{gc.user.name}"
      - if current_user && gc.image && gc.repo.users.include?(current_user)
        = image_tag gc.image
      - else
        = image_tag gc.raw
= will_paginate @git_commits
