%h2= current_repo.name

- if current_user && current_user.repos.include?(current_repo)
  .row
    .span8
      .well
        Keep your external id secure.  Anyone who knows this key can join your lolcommit repo.
        %br
        %b External Id:
        = current_repo.external_id
        %br
        %b Users:
        = current_repo.users.collect {|u| u.name}.join(',')
.users

.commits
  - @git_commits.each do |gc|
    .image
      - if gc.user
        .name
          %b= link_to gc.user.name, "http://github.com/#{gc.user.name}"
      - if current_user && gc.image && gc.repo.users.include?(current_user)
        = image_tag gc.image
      - else
        = image_tag gc.raw
= will_paginate @git_commits
