%h2 User Account Info
%br
.row
  .span6
    .well
      %b
        Name:
      = current_user.name
      %br
      %b
        API Key:
      = current_user.api_key
      %br
      %b
        API Secret:
      = current_user.api_secret

%h3 Repositories
%br
- current_user.repos.each do |repo|
  .row
    .span6
      .well
        %b Name
        = repo.name
        %br
        %b
          External Id:
        = repo.external_id
